/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/* Asterick wildcard selector to override default style added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General atyles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    background-image: url();
}

/* Header */
header{
    background-color: darkcyan;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

/* Main content */
main{
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}

/* Footer */
footer{
    background-color: darkcyan;
}