/* Asterick wildcard selector to override default style added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General atyles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: whitesmoke;
    background-image: url();
}

/* Header */
header{
    background-color: darkcyan;
}

/* Main content */
main{
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}

/* Footer */
footer{
    background-color: darkcyan;
}